<section class="login-section">
    <div class="container">
        <div class="login-container">
            <div class="row">
                <div class="col-lg-3 col-md-2">
                </div>
                <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                    <div class="login-div">
                        <div class="login-title">
                            <img src="assets/images/health-logo1.png" class="img-fluid logo-login" alt="">
                            <h5>Sign In</h5>
                        </div>
                        <div class="login-form">
                            <form action="" [formGroup]="addForm">
                                <div class="form-data">
                                    <label for="">
                                        User Name <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control" placeholder="Enter User Name"
                                        formControlName="username"
                                        [ngClass]="{ 'is-invalid': add.username.touched && add.username.errors }"
                                        name="" id="">
                                    <div class="text-danger" *ngIf="add.username.touched && add.username.errors">
                                        <span *ngIf="add.username.errors.required">User Name is required</span>
                                    </div>
                                </div>
                                <div class="form-data">
                                    <label for="">
                                        Password <span class="text-danger">*</span>
                                    </label>
                                    <input [type]="showPassword ? 'text' : 'password'" matInput class="form-control"
                                        placeholder="Enter Password" name="" formControlName="password"
                                        [ngClass]="{ 'is-invalid': add.password.touched && add.password.errors }" id="">
                                    <mat-icon matSuffix class="c-pointer" (click)="togglePasswordVisibility()">
                                        {{showPassword?'visibility_off':'visibility'}}
                                    </mat-icon>
                                    <div class="text-danger" *ngIf="add.password.touched && add.password.errors">
                                        <span *ngIf="add.password.errors.required">Password is required</span>
                                    </div>
                                </div>
                            </form>
                            <div class="login-btn-div">
                                <button class="login-btn" (click)="loginBtn()">Login</button>
                            </div>
                            <div class="mt-2 text-center">
                                <a href="">Forgot Your password?</a>
                                <p>Don't have an account? <a class="sign-up c-pointer" (click)="signupBtn()">Sign Up</a></p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>

    </div>
</section>