<!-- <h2 mat-dialog-title>
    <i class="fas fa-file-medical-alt"></i> Reset-Password</h2> -->
<div class="passmodel">
    <div mat-dialog-title class="auth-avatar" align="center" >
        <img src="assets/images/health-logo.png" style="width:100px;" class="img-fluid side-logo" alt="">
        <h6>CHANGE PASSWORD</h6>
      </div>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="addForm">
                <div class="form-group form-row">
                    <label for="password">Current Password</label>
                    <input type="password" class="form-control" formControlName="password"
                      [ngClass]="{ 'is-invalid': add.password.touched && add.password.errors }" placeholder="********" />
                    <div class="text-danger" *ngIf="add.password.touched && add.password.errors">
                      <span *ngIf="add.password.errors.required">Password is required</span>
                    </div>
                  </div>
                  <div class="form-group form-row">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" formControlName="password"
                      [ngClass]="{ 'is-invalid': add.password.touched && add.password.errors }" placeholder="********" />
                    <div class="text-danger" *ngIf="add.password.touched && add.password.errors">
                      <span *ngIf="add.password.errors.required">Password is required</span>
                    </div>
                  </div>
                  <div class="form-group form-row">
                    <label for="password">Retype Password : </label>
                    <input type="password" class="form-control" formControlName="password"
                      [ngClass]="{ 'is-invalid': add.password.touched && add.password.errors }" placeholder="********" />
                    <div class="text-danger" *ngIf="add.password.touched && add.password.errors">
                      <span *ngIf="add.password.errors.required">Password is required</span>
                    </div>
                  </div>
                <!-- <div class="form-row">
                    <label for="">Reset-Password<span class="text-danger">*</span></label>
                    <textarea name="" id="" cols="30" rows="5" class="form-control" formControlName="reason"
                        [ngClass]="{ 'is-invalid': add.reason.touched && add.reason.errors }"
                        placeholder="Enter Consulting Name"></textarea>
                    <div class="text-danger" *ngIf="add.reason.touched && add.reason.errors">
                        <span *ngIf="add.reason.errors.required">Consulting Name is required</span>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="mt-1 mb-1">
    <button mat-raised-button (click)="cancelBtn()" class="mr-3">Cancel</button>
    <button mat-raised-button color="accent" (click)="cancelBtn()">Update</button>
</mat-dialog-actions>
</div>