<div class="filiter-div">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
            <div class="search-inp">
                <input type="text" class="search-input" name="" id="" placeholder="Search">
                <span><i class="fas fa-search"></i></span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
            <div class="search-inp">
                <select name="" id="" class="form-input">
                    <option value="" selected disabled>Scheduled</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-8">
            <div class="search-inp">
                <select name="" id="" class="form-input">
                    <option value="" selected disabled>Filter by Reason</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-4">
            <div class="text-right">
                <button class="add-btn" (click)="addPage()">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>
<div class="main-section-div">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="document-details">
                <div class="document-title">
                    <div class="row">
                        <div class="col-10">
                            <div class="document-names">
                                <h5>Nutrition Consulting</h5>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="document-i">
                                <i class="fas fa-ellipsis-h"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <p class="schedule-p">01/11/2023 - 12/11/2023</p>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 text-center">
                            <p class="schedule-p">1:00AM - 2:00AM <span class="time-span">1 Hour</span></p>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                            <p class=""><span class="day-span">SUN</span><span
                                    class="day-span">MON</span><span class="day-span">THU</span></p>
                        </div>
                    </div>
                    <p class="mt-2 bb-1">Discussing and analyzing current eating habits of clients.</p>
                    <div class="pay-div">
                        <h4>USD 150 <button class="buy-btn">BUY</button></h4>
                    </div>
                </div>
            </div>
        </div>  
                      
    </div>
</div>