<div class="main-div">
    <div class="container-fluid">
        <!-- <div class="title-div">
            <h5><i class="far fa-file"></i> Documents</h5>
        </div> -->
        <div class="filiter-div">
            <div class="row">
                <div class="col-lg-3 col-md-5 col-12">
                    <div class="search-inp">
                        <select name="" id="" class="form-input">
                            <option value="" selected disabled>Filter by Consulting</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-8">
                    <div class="search-inp">
                        <input type="text" class="search-input" name="" id="" placeholder="Search">
                        <span><i class="fas fa-search"></i></span>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-md-2 col-4">
                    <div class="text-right">
                        <button class="add-btn" (click)="addPage()">
                            Add
                        </button>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="main-section-div">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="document-details">
                        <div class="document-title">
                            <div class="row">
                                <div class="col-10">
                                    <div class="document-names">
                                        <h5>Top 10 Nutrition method by our Expert</h5>
                                        <p>Nutritional Coaching</p>
                                    </div>
                                </div>
                                <!-- <div class="col-2">
                                    <div class="document-i">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </div>
                                </div> -->
                            </div>
                            
                           
                        </div>
                        <div class="document-contant">
                            <div class="docu-postion">
                                <!-- <video width="100%" controls>
                                    <source src="https://youtu.be/tYa6OLQHrEc" type="video/mp4">
                                    
                                  </video> -->
                                  
                                  <div class="img">
                                    <img src="/assets/images/health-logo1.png">
                                  </div> 

                                <!-- <img class="mat-card-img" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                                <!-- <div class="footer-content">
                                    <video width="100%" controls>
                                      <source [src]="videoUrl" type="video/mp4">
                                      Your browser does not support the video tag.
                                    </video>
                                  </div> -->
                                <!-- <i class="far fa-file-pdf"></i>
                                <p>Download</p> -->
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="document-details">
                        <div class="document-title">
                            <div class="row">
                                <div class="col-10">
                                    <div class="document-names">
                                        <h5>The Science & Art of menstruation</h5>
                                        <p>Nutritional Coaching</p>
                                    </div>
                                </div>
                                <!-- <div class="col-2">
                                    <div class="document-i">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </div>
                                </div> -->
                            </div>
                          </div>
                        <div class="document-contant">
                            <div class="docu-postion">
                               <div class="img">
                                    <img src="/assets/images/health-logo1.png">
                                  </div>
                                 </div>

                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>