<div class="title-div">
    <h5><i class="fas fa-home"></i> <span>Member's Workshop</span></h5>
</div>
<div class="filiter-div">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="search-inp">
                <input type="text" class="search-input" name="" id="" placeholder="Search">
                <span><i class="fas fa-search"></i></span>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-8">
            <div class="search-inp">
                <select name="" id="" class="form-input">
                    <option value="" selected disabled>Filter Workshop</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-6 col-4">
            <div class="text-right">
                <button class="add-btn" (click)="addPage()">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>
<div class="main-section-div">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="document-details">
                <div class="document-title">
                    <div class="row mb-2">
                        <div class="col-10">
                            <div class="document-names">
                                <h5>Yoga Workshop</h5>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="document-i">
                                <i class="fas fa-ellipsis-h"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pr-0">
                            <p class="schedule-p">01/11/2023</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                            <p class="">1:00AM</p>
                        </div>
                    </div>
                    <div class="wokshop-img-div">
                        <img src="/assets/images/yoga.webp" class="img-fluid" alt="">
                    </div>
                    <p class="mt-2 bb-1">Discussing and analyzing current eating habits of clients.
                        Developing meal plans for individuals to promote health and wellbeing.
                    </p>
                    <div class="pay-div">
                        <h4>USD 150 <button class="buy-btn float-right">Register</button></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="document-details">
                <div class="document-title">
                    <div class="row mb-2">
                        <div class="col-10">
                            <div class="document-names">
                                <h5>Yoga Workshop</h5>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="document-i">
                                <i class="fas fa-ellipsis-h"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pr-0">
                            <p class="schedule-p">01/11/2023</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                            <p class="">1:00AM</p>
                        </div>
                    </div>
                    <div class="wokshop-img-div">
                        <img src="/assets/images/yoga.webp" class="img-fluid" alt="">
                    </div>
                    <p class="mt-2 bb-1">Discussing and analyzing current eating habits of clients.
                        Developing meal plans for individuals to promote health and wellbeing.
                    </p>
                    <div class="pay-div">
                        <h4>Free</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="document-details">
                <div class="document-title">
                    <div class="row mb-2">
                        <div class="col-10">
                            <div class="document-names">
                                <h5>Yoga Workshop</h5>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="document-i">
                                <i class="fas fa-ellipsis-h"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pr-0">
                            <p class="schedule-p">01/11/2023</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                            <p class="">1:00AM</p>
                        </div>
                    </div>
                    <div class="wokshop-img-div">
                        <img src="/assets/images/yoga.webp" class="img-fluid" alt="">
                    </div>
                    <p class="mt-2 bb-1">Discussing and analyzing current eating habits of clients.
                        Developing meal plans for individuals to promote health and wellbeing.
                    </p>
                    <div class="pay-div">
                        <h4>USD 150 <button class="buy-btn float-right">Register</button></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="document-details">
                <div class="document-title">
                    <div class="row mb-2">
                        <div class="col-10">
                            <div class="document-names">
                                <h5>Yoga Workshop</h5>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="document-i">
                                <i class="fas fa-ellipsis-h"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pr-0">
                            <p class="schedule-p">01/11/2023</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                            <p class="">1:00AM</p>
                        </div>
                    </div>
                    <div class="wokshop-img-div">
                        <img src="/assets/images/yoga.webp" class="img-fluid" alt="">
                    </div>
                    <p class="mt-2 bb-1">Discussing and analyzing current eating habits of clients.
                        Developing meal plans for individuals to promote health and wellbeing.
                    </p>
                    <div class="pay-div">
                        <h4>Free</h4>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>