<h2 mat-dialog-title><i class="fas fa-file-medical-alt"></i> Add Consulting</h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="addForm">
                <div class="form-row">
                    <label for="">Consulting Name <span class="text-danger">*</span></label>
                    <textarea name="" id="" cols="30" rows="5" class="form-control" formControlName="reason"
                        [ngClass]="{ 'is-invalid': add.reason.touched && add.reason.errors }"
                        placeholder="Enter Consulting Name"></textarea>
                    <div class="text-danger" *ngIf="add.reason.touched && add.reason.errors">
                        <span *ngIf="add.reason.errors.required">Consulting Name is required</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="mt-1 mb-1">
    <!-- <button mat-raised-button (click)="cancelBtn()" class="mr-3">Cancel</button> -->
    <button mat-raised-button color="accent" (click)="submitBtn()">Submit</button>
</mat-dialog-actions>