<!-- <main class="main-css">
    <section class="side-section">
        <div class="side-logo-div">
            <img src="assets/images/health-logo.png" class="img-fluid side-logo" alt="">
        </div>
        <ul>
            <li>
                <i class="fas fa-home"></i>
            </li>
            <li class="active">
                <i class="fas fa-user-friends"></i>
            </li>
        </ul>
    </section>
    <section class="main-section">
        <router-outlet></router-outlet>
    </section>
</main> -->
<div class="side-logo-div" id="navbar">
    <img src="assets/images/health-logo.png" class="img-fluid side-logo" alt="" (click)="drawer.toggle()">
</div>
<mat-drawer-container>    
    <mat-drawer #drawer mode="side" opened>
        <section class="side-section">    
            <div class="side-menu-logo"> 
                <img src="assets/images/health-logo.png" class="img-fluid side-logo" alt="">
            </div>        
            <ul *ngIf="role==='Customer'">
                
                <li routerLink="/customer" routerLinkActive="active">
                    <i class="fas fa-user-friends"></i>
                </li>
            </ul>
            <ul *ngIf="role==='Admin'">
                <li>
                    <i class="fas fa-home"></i>
                </li>              
                <li  routerLink="/admin/customer" routerLinkActive="active">
                    <i class="fas fa-user-friends"></i>
                    <!-- <i class="far fa-user-friends"></i> -->
                    <!-- <i class="fas fa-user-friends"></i> -->
                    <!-- <i class="fa-regular fa-user-minus"></i> -->
                    <!-- <i>&#xF4D0;</i>
                    <i class="bi bi-arrow-left-square"></i>
                    <i class="bi bi-people"></i> -->
                </li>
                <li  routerLink="/admin/document" routerLinkActive="active">
                    <i class="far fa-file-alt"></i>
                     <!-- <i class="far fa-file"></i> -->
                </li>
                <li  routerLink="/admin/consulting" routerLinkActive="active">
                    <i class="fas fa-file-medical-alt"></i>
                </li>
                <li  routerLink="/admin/workshop" routerLinkActive="active">
                    <i class="fas fa-tv"></i>
                </li>
                <li routerLink="/admin/schedule" routerLinkActive="active">
                    <i class="far fa-clock"></i> 
                </li>
                <!-- <li routerLink="/admin/notes" routerLinkActive="active">
                    <i class="far fa-clock"></i> 
                </li> -->
            </ul>
            <div class="profile-div">
                <!--  -->
                <img src="assets/images/profile.png" [matMenuTriggerFor]="menu" class="img-fluid side-profile" alt="">                
            </div>  
            <mat-menu #menu="matMenu" yPosition="above">
                <button mat-menu-item  (click)="addpage()">
                    <i class='far fa-edit' style="font-size: 18px;color: gray;"></i> 
                    <span style="margin-left:7%;"> Change password</span>
                </button>
               
                <button mat-menu-item (click)="logoutBtn()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
                
              </mat-menu>  
              
                      
        </section>
        <!-- Modal -->

  <!-- Modal -->

          <!-- <div class="modal" tabindex="-1" role="dialog" id="basicModal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary">Save changes</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div> -->
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            Launch demo modal
          </button> -->
          
          <!-- Modal -->
          <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
    </mat-drawer>
    <mat-drawer-content>
        <section class="main-section">
            <router-outlet></router-outlet>
        </section>
    </mat-drawer-content>
    
</mat-drawer-container>
